<div class="container-fluid">
    <div class="row">
        <div class="col-xl-7 col-xs-7 my-4">
            <h4 class="display-4">Staff List</h4>
            <table class="table table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Contact</th>
                        <!-- <th>Department</th> -->
                        <!-- <th>Role</th> -->
                        <th>Details</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let staff of staffListArr ; let i = index">
                        <th>{{i+1}}</th>
                        <td>{{staff.fullName.fName }} {{staff.fullName.lName}}</td>
                        <td>{{staff.email}}</td>
                        <td>{{staff.contact}}</td>
                        <!-- <td>{{staff.dept | uppercase}}</td> -->
                        <!-- <td>{{staff.clgRole | uppercase}}</td> -->
                        <td>
                            <a class=" btn btn-outline-success" [routerLink]="['details']" [fragment]="staff.staffId">
                                <i class="fa fa-list" aria-hidden="true"></i>
                            </a>
                        </td>
                        <td>
                            <a class=" btn btn-outline-danger" disabled="true" (click)="onDeleteBtn(i , staff.staffId)"><i class="fa fa-trash" aria-hidden="true"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-xl-4 col-xs-4 my-4 ml-5">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>